[Unit]
Description=linkage-api

[Service]
ExecStart=/usr/bin/python -m waitress --port 8085 --call main.app:create_app
Type=simple
WorkingDirectory=/home/arctair/linkage-api

[Install]
WantedBy=default.target